{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'images/' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Exquis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sevices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>

        </ul>
        <form class="d-flex">
          {% csrf_token %}
          <a class="btn btn-primary" href="{% url 'user_logout' %}">Logout</a>
        </form>
      </div>
    </div>
  </nav>
  <div class="d-flex">
    <div class="card m-5" style="width: 18rem;">
      <img src="/static/images/img1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">realme narzo N53</h5>
        <p class="card-text">realme narzo N53 (Feather Gold, 6GB+128GB) 33W Segment Fastest Charging | Slimmest Phone in Segment | 90 Hz Smooth Display</p>
        <p class="card-text">₹10,999</p>
        <div class="d-flex justify-content-between ">
          <a href="#" class="btn btn-info mx-3">Buy</a>
          <a href="#" class="btn btn-warning mx-3">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="card m-5" style="width: 18rem;">
        <img src="/static/images/img2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Redmi 12C </h5>
          <p class="card-text">Redmi 12C (Royal Blue, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display</p>
          <p class="card-text">₹14,999</p>
          <div class="d-flex justify-content-between ">
            <a href="#" class="btn btn-info mx-3">Buy</a>
            <a href="#" class="btn btn-warning mx-3">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="card m-5" style="width: 18rem;">
          <img src="/static/images/img3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Samsung Galaxy M04</h5>
            <p class="card-text">Samsung Galaxy M04 Light Green, 4GB RAM, 64GB Storage | Upto 8GB RAM with RAM Plus | MediaTek Helio P35 Octa-core Processor</p>
            <p class="card-text">9,999</p>
            <div class="d-flex justify-content-between ">
              <a href="#" class="btn btn-info mx-3">Buy</a>
              <a href="#" class="btn btn-warning mx-3">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="card m-5" style="width: 18rem;">
            <img src="/static/images/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">realme narzo N55</h5>
              <p class="card-text">realme narzo N55 (Prime Blue, 4GB+64GB) 33W Segment Fastest Charging | Super High-res 64MP Primary AI Camera</p>
              <p class="card-text">₹24,999</p>
              <div class="d-flex justify-content-between ">
                <a href="#" class="btn btn-info mx-3">Buy</a>
                <a href="#" class="btn btn-warning mx-3">Add to cart</a>
              </div>
            </div>
          </div>
  </div>
</body>

</html>